#admin-all-categories {
  margin: 0 auto;
}

.admin-all-categories-list {
  width: 50%;
  margin: 0 auto;
}

.admin-all-categories-title {
  margin-bottom: 30px;
  font-size: 30px;
}

.admin-all-categories-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--clr-grey);
}

.admin-all-categories-item a {
  color: var(--clr-grey);
}

.admin-all-categories-item a:hover {
  color: var(--clr-yellow);
  transition: var(--transition-clr);
}

.admin-all-categories-item-icon-wrapper i:first-of-type {
  margin-right: 20px;
}

.admin-all-categories-item-icon-wrapper i:hover {
  cursor: pointer;
  transition: var(--transition-clr);
}

.admin-all-categories-item-icon-wrapper i:first-of-type:hover {
  color: var(--clr-yellow);
}

.admin-all-categories-item-icon-wrapper i:last-of-type:hover {
  color: var(--clr-red);
}
