.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--clr-grey);
}

.list-item a {
  color: var(--clr-grey);
}

.list-item a:hover {
  color: var(--clr-yellow);
  transition: var(--transition-clr);
}

.list-item-icon-wrapper i:first-of-type {
  margin-right: 20px;
}

.list-item-icon-wrapper i:hover {
  cursor: pointer;
  transition: var(--transition-clr);
}

.list-item-icon-wrapper i:first-of-type:hover {
  color: var(--clr-yellow);
}

.list-item-icon-wrapper i:last-of-type:hover {
  color: var(--clr-red);
}
