#not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-title {
  font-size: 150px;
  color: var(--clr-yellow);
}

.not-found-content {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}
