.form-recipe-wrapper {
  position: relative;
  width: 60%;
  margin: 40px auto;
  padding: 50px;
  border: 1px solid var(--clr-grey);
}

.form-recipe-title {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 120px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  color: var(--clr-grey);
  background-color: var(--clr-white);
}

.form-recipe-input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-recipe-input-wrapper > div {
  flex: 1;
}

.form-recipe-input-wrapper > div > input {
  width: 100%;
}

.form-recipe-input-wrapper i {
  flex-shrink: 0;
  font-size: 18px;
  color: var(--clr-grey);
  transition: var(--transition-clr);
}

.form-recipe-input-wrapper i:hover {
  cursor: pointer;
  color: var(--clr-yellow);
}
