#home {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  width: 500px;
  margin-bottom: 80px;
  font-family: var(--font-family-fancy);
  font-size: 100px;
  text-shadow: 1px 1px 2px var(--clr-grey);
  color: var(--clr-white);
}

.home-btn {
  padding: 14px 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-yellow);
  transition: all 600ms ease-in-out;
}

.home-btn:hover {
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr-yellow);
}
