#home {
  position: relative;
  z-index: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home::before {
  position: absolute;
  top: -360px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 155vh;
  background-image: url(/banner.png);
  background-repeat: no-repeat;
  content: "";
}

.home-content-wrapper {
  position: relative;
  z-index: 100;
}

.home-title {
  width: 500px;
  margin-bottom: 70px;
  line-height: 1.1;
  font-size: 100px;
  text-shadow: 1px 1px 2px var(--clr-grey);
  color: var(--clr-white);
}
