#admin-jumbo {
  margin: 60px auto;
}

.admin-jumbo-title {
  font-size: 46px;
  margin-bottom: 50px;
}

.admin-jumbo-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}
