.recipes-item {
  width: 30%;
  margin-bottom: 100px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes-item-img {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 100%;
}

.recipes-item-title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 100;
}
