#footer {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.footer-content a {
  margin-right: 5px;
  padding-left: 5px;
  font-family: var(--font-family-fancy);
  font-weight: 100;
  text-transform: capitalize;
  color: var(--clr-white);
  transition: var(--transition-clr);
}

.footer-content a:hover {
  cursor: pointer;
  color: var(--clr-yellow);
}
