.note-item {
  position: relative;
  margin-bottom: 15px;
  padding: 20px;
  background-color: var(--clr-light-grey);
}

.note-item i:first-of-type {
  margin-right: 30px;
}

.note-item i:last-of-type {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.note-item i:last-of-type:hover {
  color: var(--clr-red);
  transition: var(--transition-clr);
}
