.categories-title {
  margin-top: 80px;
  margin-bottom: 120px;
  font-size: 46px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
}
