#server-error {
  position: sticky;
  top: 20px;
  z-index: 1000;
  margin: 0px auto;
  padding: 8px;
  min-height: unset;
  background-color: var(--clr-light-grey);
  width: 40%;
}

.fade-in {
  animation: fadeIn 0.3s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
