.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination {
  border: unset;
  background-color: unset;
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
}

.pagination:hover {
  cursor: pointer;
  font-weight: 600;
  color: var(--clr-yellow);
  transition: var(--transition-clr);
  transition: font-weight 600ms ease-in-out;
}
