#header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 30px 10px;
}

.header-nav,
.header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-ul {
  gap: 30px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.header-selected-link {
  color: var(--clr-yellow);
  font-weight: 900;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

.header-li-logo {
  font-family: var(--font-family-fancy);
  font-size: 40px;
  text-shadow: 1px 1px 2px var(--clr-grey);
}

.header-li-logo a:hover {
  color: var(--clr-yellow);
}

.header-nav-form-input {
  width: 0;
  padding: 0;
  opacity: 0;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.header-nav-form-input.show {
  width: 200px;
  margin-right: 8px;
  padding: 5px;
  opacity: 1;
}

.header-nav-form-input:active {
  border: none;
  outline: none;
}

.header-nav-form-btn {
  border: none;
  background-color: transparent;
  margin-right: 15px;
}

.header-nav-form-btn:hover {
  cursor: pointer;
}
