#header {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}

.header-main {
  background-image: url(/bradcam.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.header-home {
  background-image: unset;
  background-position: unset;
  background-repeat: unset;
}

.header-nav,
.header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-ul {
  gap: 30px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.header-ul.white a {
  color: var(--clr-white);
}

.header-selected-link {
  font-weight: 900;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

.header-ul.white .header-selected-link,
.header-ul .header-selected-link {
  color: var(--clr-yellow);
}

.header-li-logo {
  font-family: var(--font-family-fancy);
  font-size: 50px;
  text-shadow: 1px 1px 2px var(--clr-grey);
}

.header-li-logo.white a {
  color: var(--clr-white);
}

.header-li-logo a:hover {
  color: var(--clr-yellow);
}

.header-nav-form-input {
  width: 0;
  padding: 0;
  opacity: 0;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.header-nav-form-input.show {
  width: 200px;
  margin-right: 8px;
  padding: 5px;
  opacity: 1;
}

.header-nav-form-input:active {
  border: none;
  outline: none;
}

.header-nav-form-btn {
  border: none;
  background-color: transparent;
  margin-right: 15px;
}

.header-nav-form-btn i {
  font-size: 18px;
}

.header-nav-form-btn.white i {
  color: var(--clr-white);
}

.header-nav-form-btn:hover {
  cursor: pointer;
}
