/* Buttons */

.btn {
  padding: 14px 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-yellow);
  transition: all 600ms ease-in-out;
}

.from-btn {
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr-yellow);
}

.btn:disabled,
a.btn.disabled {
  color: var(--clr-grey);
  border-color: var(--clr-grey);
  opacity: 0.5;
}

.btn:disabled:hover,
a.btn.disabled:hover {
  cursor: not-allowed;
  background-color: var(--clr-white);
}
