/* Buttons */

.form-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.form-btns-wrapper button {
  margin-top: unset;
}

.form-btns-wrapper button:last-of-type {
  color: var(--clr-red);
  border-color: var(--clr-red);
}

.form-btns-wrapper button:last-of-type:hover {
  color: var(--clr-white);
  background-color: var(--clr-red);
}

.btn {
  padding: 14px 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-yellow);
  transition: all 600ms ease-in-out;
}

.from-btn {
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr-yellow);
}

.btn:disabled,
a.btn.disabled {
  color: var(--clr-grey);
  border-color: var(--clr-grey);
  opacity: 0.5;
}

.btn:disabled:hover,
a.btn.disabled:hover {
  cursor: not-allowed;
  background-color: var(--clr-white);
}
