/* Constants */

:root {
  --clr-white: #fff;
  --clr-yellow: #ffc000;
  --clr-red: #c11f24;
  --clr-light-grey: #e8e8e8;
  --clr-grey: #777777;
  --clr-black: #000;

  --font-family-base: "Roboto", sans-serif;
  --font-family-fancy: "Pacifico", cursive;

  --transition-clr: color 600ms ease-in-out;
}
