/* Constants */

:root {
  --clr-white: #fff;
  --clr-yellow: #ffc000;
  --clr-grey: #777777;
  --clr-black: #000;

  --font-family-base: "Roboto", sans-serif;
  --font-family-fancy: "Satisfy", cursive;
}
