@import "./reset.css";
@import "./constants.css";
@import "./forms.css";
@import "./buttons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Pacifico");

html {
  max-width: 1920px;
  margin: 0 auto !important;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--clr-black);
  line-height: 1.5;
  text-transform: capitalize;
  background-color: var(--clr-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-fancy);
  font-weight: 100;
}
